audio {
  border-radius: 20px;
  width: 95%;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}


/* ////////////////////////////////////////////////////////\ */


#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width: 95vw;
  height: auto;
}