/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  /* background: #6990F2; */
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.flexRowDisplaycc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexColDisplaycc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRowDisplayec {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.flexRowDisplaysc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flexRowDisplayce {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.flexRowDisplaycs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.flexRowDisplaysbc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexRowDisplaysbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.flexRowDisplaysac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flexColDisplayce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.flexColDisplaycs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColDisplaysc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexColDisplayss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

header {
  width: 100%;
}

.topnav {
  margin: 100px 0 70px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid peru; */
}

.search-container {
  /* border: 2px solid peru; */
}

.searchForm {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 200px;
  background: none;
  position: relative;
  width: 30vw;
  /* width: 200px; */
  height: 50px;
}

.searchInput {
  position: absolute;
  background: none;
  border: none;
  border-radius: 200px;
  width: 85%;
  height: 80%;
  left: 3%;
}

.searchInput:focus {
  outline: none;
}

/* .searchInput ~ .searchForm {
  transform: scale(1.0);
}

.searchInput:focus ~ .searchForm {
  transform: scale(1.0);
  transition: 0.4s;
} */

.searchButton {
  position: relative;
  right: 5%;
  background: none;
  border: none;
  cursor: pointer;
}

.searchIcon {
  background: none;
  width: 20px;
  transition: 0.1s;
}

.searchIcon:active {
  transform: scale(1.5);
}

/* /////////// SECTION1 //////////// */
.section1 {
  width: 100%;
  /* padding: 0 0 500px 0; */
  /* border: 2px solid peru; */
  height: 1000px;
}

.divSection1 {
  width: 100%;
}

.multipleSection1 {
  width: 95%;
  margin-bottom: 70px;
  /* border: 2px solid peru; */
  flex-wrap:nowrap;
}
.categoryButtons{
  width: 70%;
  /* border: 2px solid peru; */
  flex-wrap:wrap;
}


.whiteButton {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  /* position: relative; */
  margin: 10px;
  background: none;
  color: rgb(248, 248, 248);
  transition: 0.1s;
  padding: 10px 20px;
}

.whiteButton:hover {
  transform: scale(1.03);
}
.whiteButton:active {
  transform: scale(1.09);
}


.addSong{
  width: 25%;
  /* border: 2px solid peru; */
}


@media screen and (max-width: 600px) {
  .whiteButton {
    padding: 10px 15px;
  }
}

.ContentdivSection1 {
  height: auto;
  width: 95%;
  /* padding: 1%; */
  position: relative;
  /* overflow: hidden; */
  /* border: 2px solid peru; */
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}

.leftDivSection1 {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  width: 98%;
  min-height: 100%;
  max-height: 500px;
  /* padding: 30px 10px 30px 10px; */
  border-radius: 20px;
  -webkit-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  -moz-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  position: absolute;
  top: 0px;
  right: 0%;
  scale: 1;
  transition: right 0.5s ease-in-out;
  animation:scale1 0.5s ease-out;

}

.leftDivSection1.active {
  /* right: -200%; */
  /* animation:animateright 0.5s ease-out; */
  animation:scale0 0.5s ease-out;
  scale: 0;
}
/* @keyframes animateright
{
    from {right:0;opacity:1} 
    to{right:-200%;opacity:0}
} */
@keyframes scale0
{
    from {scale: 1;} 
    to{scale: 0;}
}
@keyframes scale1
{
    from {scale: 0;} 
    to{scale: 1;}
}


@media screen and (max-width: 750px) {
  .leftDivSection1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
  }
}

.insideLeftDivSection1 {
  width: 100%;
  height: 95%;
  overflow: auto;
  padding: 30px;

}

.elementSec1 {
  width: 95%;
  min-height: 90px;
  max-height: 150px;
  /* border: 2px solid peru; */
  border-radius: 20px;
  margin-bottom: 10px;
  display: grid;
  padding: 15px;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 30% 70%;
  -webkit-box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
  box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
}

.elementSec1 h3 {
  /* border: 2px solid peru; */
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  margin-bottom: 20px;
  margin-left: 15px;
}

.fastPlayMode {
  /* border: 2px solid peru; */
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  margin-left: 15px;
}

#openRightPanel {
  /* border: 2px solid peru; */
  grid-column: 4 / span 4;
  grid-row: 1 / span 2;
}

.chechOutButton {
  background: none;
  border: none;
  transition: 0.1s;
  margin-left: 15px;
  max-width: 50px;
}

.chechOutButton:hover {
  transform: scale(1.1);
}

.chechOutButton:active {
  transform: scale(1.3);
}

.chechOutButton img {
  width: 100%;
  /* min-height: 70% ; */
}

.checkFIlesInEl {
  /* border: 2px solid peru; */
  grid-column: 3 /4;
  grid-row: 2 / 2;
}
.checkFIlesInEl img {
  width: 30px;
}

.rightDivSection1 {
  grid-column: 2 / span 2;
  grid-row: 1 / 1;
  /* margin-left: 20px; */
  padding: 30px;
  width: 98%;
  min-height: 100%;
  border-radius: 20px;
  display: grid;
  margin-left: 20px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
  /* -webkit-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  -moz-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32); */
  -webkit-box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
  box-shadow: 4px 3px 31px -9px rgba(66, 68, 90, 1);
  position: absolute;
  top: 0px;
  left: -200%;
  transition: left 0.5s ease-in-out;
}

@media screen and (max-width: 750px) {
  .rightDivSection1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
  }
}

.rightDivSection1.active {
  /* po kliknięciu przycisku element zostanie przesunięty w prawo */
  left: 0; 
  animation:animateleft 0.5s ease-out;
}
@keyframes animateleft
{
    from {left:-200%;opacity:0} 
    to{left:0;opacity:1}
}
.rightPagechanger1 {
  /* border: 2px solid peru; */
  padding-right: 10px;
  grid-column: 4 / span 4;
  grid-row: 1 / 1;
}
#exitButtonRight {
  background: transparent;
  border: none;
  outline: none;
  width: 30px;
  transition: 0.05s;
}

#exitButtonRight img {
  width: 100%;
}

#exitButtonRight:hover {
  transform: scale(1.1);
}
#exitButtonRight:active {
  transform: scale(1.3);
}

.playVoiceDiv {
  grid-column: 1 / span 4;
  grid-row: 2 / 5;
  margin: 20px 0 20px 0;
  height: auto;
  -webkit-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  -moz-box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
  box-shadow: 14px 16px 46px -14px rgba(66, 68, 90, 0.32);
}

.filesinelement {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding: 20px 20px 0 20px;
  /* border: 2px solid peru; */
}

.filesinelement a img {
  transition: 0.1s;
  width: 50px;
}

.filesinelement img:hover {
  transform: scale(1.05);
}
.filesinelement img:active {
  transform: scale(1.09);
}

.filesinelement img {
  width: 100px;
}

.ViewFile {
  /* margin: 1%; */
  padding: 0.5% 0.5% 0.5% 0.5%;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* border: 2px solid peru; */
}

.div2 {
  width: 100%;
  height: 100%;
  /* border: 2px solid peru; */
  background-color: #3b3b3b;
  padding: 15px 10px 0px 10px;
  border-radius: 10px;
  /* overflow-y: hidden; */
}

.pageChangerDiv {
  /* border: 2px solid peru; */
  padding-bottom: 10px;
}

.pageChangerDiv2 {
  margin-top: 0px;
  position: fixed;
  /* border: 2px solid peru; */
  padding: 10px;
  width: 100%;
  align-self: center;
  background-color: #3b3b3b;
}

.centernPagechanger span {
  /* width: 50px; */
  padding: 0 10px;
  /* border: 2px solid peru; */
}

.leftPagechanger {
  /* border: 2px solid peru; */
  padding-left: 10px;
}
.centernPagechanger {
  /* border: 2px solid peru; */
  width: 85%;
  color: #f0f0f0;
}
.rightPagechanger {
  /* border: 2px solid peru; */
  padding-right: 10px;
}

#resetScale {
  background: none;
  border: none;
  width: 30px;
}

#resetScale img {
  width: 100%;
}

#downlo {
  background: none;
  border: none;
  width: 30px;
}
#downlo img {
  width: 100%;
}

#prev {
  background: none;
  border: none;
  width: 2%;
}
#prev img {
  width: 100%;
}
#next {
  background: none;
  border: none;
  width: 2%;
}
#next img {
  width: 100%;
}

#exitButton {
  background: none;
  border: none;
  width: 30px;
}

#exitButton img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  #prev,
  #next {
    display: none;
  }
  #downlo,
  #exitButton {
    width: 20px;
  }
  .topnav {
    flex-direction: column;
  }
}

.canvasDiv {
  /* border: 2px solid peru; */
  height: 90%;
  width: 100%;
  /* overflow-y: scroll; */
  overflow: scroll;
  background-color: #272727;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.div-canvas-Scale {
  /* border: 2px solid peru; */
  width: 1240px;
  padding: 10px;
}

@media screen and (max-width: 1240px) {
  .div-canvas-Scale {
    width: 90%;
  }
}

#the-canvas {
  /* border: 2px solid rgb(0, 255, 34); */
  /* direction: ltr; */
  width: 100%;
  margin: 10px 0 10px 0;
  /* border: 2px solid peru; */
}

.colors {
  /* width: 100%; */
  /* margin: 10px 0 10px 0; */
  /* height: 200px; */
  border: 2px solid peru;
}

.rangeslider {
  width: 40%;
  margin: 0 20px 0 20px;
  /* border: 2px solid peru; */
}

.myslider {
  -webkit-appearance: none;
  background: #c0c0c0;
  width: 50%;
  height: 20px;
  opacity: 2;
  /* border: 2px solid peru; */
}

.myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #000000;
  width: 5%;
  height: 20px;
}

.myslider:hover {
  opacity: 1;
}

#demo {
  margin-left: 10px;
  width: 30px;
  /* border: 2px solid peru; */
}

#pdf-js-viewer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.embedClass {
  width: 100%;
  height: 100%;
  /* border: 2px solid peru; */
  border-radius: 10px;
}

#Container {
  /* border: 2px solid peru; */
}

#myModal {
  text-align: center;
  height: 100vh;
  /* border: 2px solid peru; */
}

#myModal2 {
  /* border: 2px solid peru; */
}

.purePDF {
  width: 100%;
  margin-top: 40px;
}

.onlyPDF {
  width: 100%;
  /* border: 2px solid peru; */
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#embedButtonId {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  /* position: relative; */
  margin: 10px;
  background: none;
  color: rgb(248, 248, 248);
  transition: 0.1s;
}

#embedButtonId:hover {
  transform: scale(1.03);
}
#embedButtonId:active {
  transform: scale(1.09);
}

.edittrackdiv {
  grid-column: 1 / span 4;
  grid-row: 6 / 6;
  padding: 20px 20px 0 20px;
  flex-wrap: wrap;
  /* border: 2px solid peru; */
}

.edittrackButton {
  background: none;
  color: rgb(248, 248, 248);
  border: 2px solid rgb(255, 255, 255);
  width: 400px;
  height: 40px;
  border-radius: 10px;
  transition: 0.1s;
  margin-right: 20px;
}

.edittrackButton:hover {
  transform: scale(1.03);
}
.edittrackButton:active {
  transform: scale(1.09);
}

.addtrackButton {
  width: 60%;
  min-width: 100px;
}

.deletettrackButton {
  width: 20%;
  min-width: 140px;
}


#hidebutton {
  width: 200px;
  height: 100px;
  border: none;
  outline: none;
  background: transparent;
  cursor:default;
}
.fuk-you{
  margin-bottom: 400px;
  padding: 30px;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1000px;
  left: -200%;
  transition: left 0.5s ease-in-out;
}

.fuk-you.active {
  /* po kliknięciu przycisku element zostanie przesunięty w prawo */
  left: 0; 
  animation:animateleft 0.5s ease-out;
}
@keyframes animateleft
{
    from {left:-200%;opacity:0} 
    to{left:0;opacity:1}
}
